<div class="todo">
<div class="columna1">
  <h1 class="estu1">ESTUDIOS REALIZADOS </h1>
    <li class="bachi"> <b  class="fabi"> NIVEL PRIMARIO:  </b>  <p class="fabi">U.E. Fabian Mercado Rapu.</p>  </li> <br>
    <li class="bachi"> <b class="fabi"> NIVEL SECUNDARIO: </b> <p  class="fabi"> U.E. 13 DE Abril.</p> </li>

  
</div>
  
  <div class="columna1">
    <h1 class="estu1">TÍTULOS OBTENIDOS</h1>
    
    <div class="fabi" >  <li class="bachi">Bachiller en humanidades.</li> </div>
  </div>
</div>


  

