mat-form-field {
  margin-right: 12px;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 50%;
}

.mat-radio-button ~ .mat-radio-button {
  /* margin-left: 16px; */
  margin: 16px;
 
}

/* .mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: left;
}
.btn2{
  margin: 0px;
} */
.container{
  width: 100%;

}

mat-form-field, .opc {
 width: 70%;
 margin: 0 25% ;
 margin-top: 30px;


}

.opc{
 display: flex;
flex-direction: column;
color: crimson;
/* justify-content: center;*/
} 




.hora {
  
  text-align: center;
  width: 100%;
  
}

.hr{
  width: 50%;
}