<div class="container">
 <form action="">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nombre</mat-label>
    <textarea matInput placeholder="Ingrese su nombre.."></textarea>
  </mat-form-field> 
  
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Apellido</mat-label>
    <textarea matInput placeholder="Ingresar Apellidos.."></textarea>
  </mat-form-field>
  
   
  
  
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <textarea matInput placeholder="Ingresar Email.."></textarea>
  </mat-form-field> 
   
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Telefono</mat-label>
      <textarea matInput placeholder="Ingresar Telefono.."></textarea>
    </mat-form-field> 
  
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Descripcion</mat-label>
      <textarea matInput placeholder="describir.."></textarea>
    </mat-form-field> 
  
    
    <div class="opc">
      <label for="">Modo de Reunio</label>
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Zoom</mat-radio-button>
        <mat-radio-button class="btn2" value="2">Google Meet</mat-radio-button>
        <mat-radio-button class="btn2" value="2">Skype</mat-radio-button>
        <mat-radio-button class="btn2" value="2">Personal</mat-radio-button>

      </mat-radio-group>
    </div>

    

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Fecha</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> 
       


    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Fecha</mat-label>
      <textarea matInput placeholder="describir.."></textarea>
      <input type="time" id="appt" name="appt"
      min="09:00" max="18:00" required class="hr">
    </mat-form-field> 
 
 </form>

 <div class="demo-button-container">
  <button mat-raised-button  class="demo-button">
    Add data
  </button>
  <button
      mat-raised-button
      class="demo-button">
    Remove data
  </button>
  </div>

 <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  <!-- Position Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="apellido">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{element.apellido}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Weight</th>
    <td mat-cell *matCellDef="let element">{{element.email}}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="telefono">
    <th mat-header-cell *matHeaderCellDef>Symbol</th>
    <td mat-cell *matCellDef="let element">{{element.telefono}}</td>
  </ng-container>

  <ng-container matColumnDef="descripcion">
    <th mat-header-cell *matHeaderCellDef>Symbol</th>
    <td mat-cell *matCellDef="let element">{{element.descripcion}}</td>
  </ng-container>

  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef>Symbol</th>
    <td mat-cell *matCellDef="let element">{{element.fecha}}</td>
  </ng-container>

  <ng-container matColumnDef="hora">
    <th mat-header-cell *matHeaderCellDef>Symbol</th>
    <td mat-cell *matCellDef="let element">{{element.hora}}</td>
  </ng-container>

  <ng-container matColumnDef="modoR">
    <th mat-header-cell *matHeaderCellDef>Symbol</th>
    <td mat-cell *matCellDef="let element">{{element.modoR}}</td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

  
  
</div>